<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>06-fonts</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div class="newspaper">
      <header class="header">
        <p class="title">The Old Oak Times.</p>
        <div class="header-info">
          <p>New York</p>
          <p>Thursday, November 11, 1920</p>
          <p>#386</p>
        </div>
      </header>
      <main class="content">
        <h1 class="article-heading">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </h1>
        <p>
          Sed ut per&shy;spic&shy;iatis, unde omnis iste natus error sit vo&shy;lup&shy;ta&shy;tem
          acc&shy;us&shy;an&shy;tium do&shy;lor&shy;em&shy;que lau&shy;dan&shy;tium, to&shy;tam rem
          ape&shy;ri&shy;am ea&shy;que ipsa, quae ab illo in&shy;ven&shy;to&shy;re
          ve&shy;ri&shy;ta&shy;tis et quasi ar&shy;chi&shy;tec&shy;to beatae vitae dicta sunt,
          ex&shy;pli&shy;ca&shy;bo.
        </p>
        <p>
          Nemo enim ipsam vo&shy;lup&shy;ta&shy;tem, quia vo&shy;lup&shy;tas sit,
          as&shy;per&shy;na&shy;tur aut odit aut fugit, sed quia con&shy;seq&shy;uun&shy;tur magni
          do&shy;lor&shy;es eos, qui ratione vo&shy;lup&shy;ta&shy;tem sequi nes&shy;ciunt, neque
          porro quis&shy;quam est, qui do&shy;lor&shy;em ipsum, quia dolor sit, amet,
          con&shy;sec&shy;tet&shy;ur, adi&shy;pisci velit, sed quia non numquam eius modi tempora
          in&shy;ci&shy;dunt, ut labore et dolore magnam ali&shy;quam qua&shy;erat
          vo&shy;lup&shy;ta&shy;tem.
        </p>
        <p>
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
          nisi ut aliquid ex ea commodi consequatur?
        </p>
        <p>
          Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil
          molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?
        </p>
        <p>
          At vero eos et <span class="quote">accusamus et iusto odio dignissimos ducimus</span>, qui
          blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias
          excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia
          deserunt mollitia animi, id est laborum et dolorum fuga.
        </p>
        <p>
          Et harum quidem rerum <span class="quote">facilis est et expedita distinctio</span>. Nam
          libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id,
          quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor
          repellendus.
        </p>
        <p>
          Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet,
          ut et voluptates repudiandae sint et molestiae non recusandae.
        </p>
        <p>
          Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores
          alias consequatur aut perferendis doloribus asperiores repellat.
        </p>
        <div class="vertical-text">Vertical text</div>
        <figure class="article-figure">
          <img class="article-img" src="img/windows_xp.png" alt="the old oak family lawn" />
          <figcaption class="article-figure-caption">The Old Oak Family Lawn</figcaption>
        </figure>
      </main>
    </div>
  </body>
</html>
