<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>03-murmarket-grid</title>
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=PT+Sans+Narrow"
    />
  </head>

  <body>
    <div class="container">
      <header class="header">
        <h2 class="title">Murmarket</h2>
      </header>
      <main class="main">
        <article class="cat-card">
          <img class="cat-img" src="assets/cat-1.jpg" alt="cat-john" />
          <section class="cat-short-info">
            <a class="cat-name-link" href="https://google.com">
              <h2 class="cat-name">John</h2>
            </a>
            <p class="cat-info-category">Age: 1 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section class="cat-extra-info">
            <p class="cat-extra-info-text">
              Very nice cat. Likes watching cars pass by the window. Likes dogs and things thats
              rustle. Is a little bit overweight, but that how cats are supposed to be.

              Very nice cat. Likes watching cars pass by the window. Likes dogs and things thats
              rustle. Is a little bit overweight, but that how cats are supposed to be.
            </p>
          </section>
        </article>
        <article class="cat-card">
          <img class="cat-img" src="assets/cat-2.jpg" alt="cat-allie" />
          <section class="cat-short-info">
            <a class="cat-name-link" href="https://google.com">
              <h2 class="cat-name">Allie</h2>
            </a>
            <p class="cat-info-category">Age: 1 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section class="cat-extra-info">
            <p class="cat-extra-info-text">
              Very nice cat. Likes watching cars pass by the window. Likes dogs and things thats
              rustle. Is a little bit overweight, but that how cats are supposed to be.
            </p>
          </section>
        </article>
        <article class="cat-card">
          <img class="cat-img" src="assets/cat-3.jpg" alt="cat-taylor" />
          <section class="cat-short-info">
            <a class="cat-name-link" href="https://google.com">
              <h2 class="cat-name">Taylor</h2>
            </a>
            <p class="cat-info-category">Age: 1 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section class="cat-extra-info">
            <p class="cat-extra-info-text">
              Very nice cat. Likes watching cars pass by the window. Likes dogs and things thats
              rustle. Is a little bit overweight, but that how cats are supposed to be.
            </p>
          </section>
        </article>
        <article class="cat-card">
          <img class="cat-img" src="assets/cat-4.png" alt="cat-senya" />
          <section class="cat-short-info">
            <a class="cat-name-link" href="https://google.com">
              <h2 class="cat-name">Senya</h2>
            </a>
            <p class="cat-info-category">Age: 1 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section class="cat-extra-info">
            <p class="cat-extra-info-text">
              Very nice cat. Likes watching cars pass by the window. Likes dogs and things thats
              rustle. Is a little bit overweight, but that how cats are supposed to be.
            </p>
          </section>
        </article>
        <article class="cat-card">
          <img class="cat-img" src="assets/cat-5.png" alt="cat-sam" />
          <section class="cat-short-info">
            <a class="cat-name-link" href="https://google.com">
              <h2 class="cat-name">Sam</h2>
            </a>
            <p class="cat-info-category">Age: 1 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section class="cat-extra-info">
            <p class="cat-extra-info-text">
              Very nice cat. Likes watching cars pass by the window. Likes dogs and things thats
              rustle. Is a little bit overweight, but that how cats are supposed to be.
            </p>
          </section>
        </article>
        <article class="cat-card">
          <img class="cat-img" src="assets/cat-6.jpg" alt="cat-sarah" />
          <section class="cat-short-info">
            <a class="cat-name-link" href="https://google.com">
              <h2 class="cat-name">Sarah</h2>
            </a>
            <p class="cat-info-category">Age: 1 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section class="cat-extra-info">
            <p class="cat-extra-info-text">
              Very nice cat. Likes watching cars pass by the window. Likes dogs and things thats
              rustle. Is a little bit overweight, but that how cats are supposed to be.
            </p>
          </section>
        </article>
        <article class="cat-card">
          <img class="cat-img" src="assets/cat-7.png" alt="cat-dave" />
          <section class="cat-short-info">
            <a class="cat-name-link" href="https://google.com">
              <h2 class="cat-name">Dave</h2>
            </a>
            <p class="cat-info-category">Age: 1 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section class="cat-extra-info">
            <p class="cat-extra-info-text">
              Very nice cat. Likes watching cars pass by the window. Likes dogs and things thats
              rustle. Is a little bit overweight, but that how cats are supposed to be.
            </p>
          </section>
        </article>
        <article class="cat-card">
          <img class="cat-img" src="assets/cat-8.png" alt="cat-bogdan" />
          <section class="cat-short-info">
            <a class="cat-name-link" href="https://google.com">
              <h2 class="cat-name">Bogdan</h2>
            </a>
            <p class="cat-info-category">Age: 1 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section class="cat-extra-info">
            <p class="cat-extra-info-text">
              Very nice cat. Likes watching cars pass by the window. Likes dogs and things thats
              rustle. Is a little bit overweight, but that how cats are supposed to be.
            </p>
          </section>
        </article>
        <article class="cat-card">
          <img class="cat-img" src="assets/cat-9.png" alt="cat-mike" />
          <section class="cat-short-info">
            <a class="cat-name-link" href="https://google.com">
              <h2 class="cat-name">Nike</h2>
            </a>
            <p class="cat-info-category">Age: 1 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section class="cat-extra-info">
            <p class="cat-extra-info-text">
              Very nice cat. Likes watching cars pass by the window. Likes dogs and things thats
              rustle. Is a little bit overweight, but that how cats are supposed to be.
            </p>
          </section>
        </article>
        <article class="cat-card">
          <img class="cat-img" src="assets/cat-10.png" alt="cat-josh" />
          <section class="cat-short-info">
            <a class="cat-name-link" href="https://google.com">
              <h2 class="cat-name">Josh</h2>
            </a>
            <p class="cat-info-category">Age: 1 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section class="cat-extra-info">
            <p class="cat-extra-info-text">
              Very nice cat. Likes watching cars pass by the window. Likes dogs and things thats
              rustle. Is a little bit overweight, but that how cats are supposed to be.
            </p>
          </section>
        </article>
      </main>
      <footer class="footer">
        <div class="contacts">
          <p class="m0">Напишите нам:</p>
          <a href="mailto:abc@def.com">abc@def.com</a>
          <br />
          <a href="mailto:email@mail.com">email@mail.com</a>
        </div>
        <div class="copyright">
          &copy; 2020 &laquo;<a href="https://www.google.com">Бабушкины котята</a>&raquo;
        </div>
      </footer>
    </div>
  </body>
</html>
