<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>01-about-cats</title>
    <link rel="stylesheet" href="./index.css" />
  </head>

  <body>
    <label for="mode-selector" class="mode-selector-label">Grid view</label>
    <input class="mode-selector" id="mode-selector" type="checkbox" checked />
    <div class="cats-container">
      <!-- Semantically grouped, autonomous => article -->
      <article class="cat-card">
        <img class="cat-img" src="assets/cat-1.jpg" alt="cat-1" />
        <div class="cat-info">
          <a class="cat-name-link" href="https://google.com">
            <h2 class="cat-name">John</h2
              ></a>
          <section>
            <p class="cat-info-category">Age: 1 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section>
            <p class="cat-extra-info">
              Very nice cat. Likes watching cars pass by the window. Likes dogs and things thats
              rustle. Is a little bit overweight, but that how cats are supposed to be.
            </p>
          </section>
        </div>
      </article>
      <article class="cat-card">
        <img class="cat-img" src="assets/cat-2.jpg" alt="cat-2" />
        <div class="cat-info">
          <a class="cat-name-link" href="https://google.com">
            <h2 class="cat-name">Allie</h2>
          </a>
          <section>
            <p class="cat-info-category">Age: 2 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section>
            <p class="cat-extra-info">Also very nice cat.</p>
          </section>
        </div>
      </article>
      <article class="cat-card">
        <img class="cat-img" src="assets/cat-3.jpg" alt="cat-3" />
        <div class="cat-info">
          <a class="cat-name-link" href="https://google.com">
            <h2 class="cat-name">Taylor</h2>
          </a>
          <section>
            <p class="cat-info-category">Age: 2 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section>
            <p class="cat-extra-info">Also very nice cat.</p>
          </section>
        </div>
      </article>
      <article class="cat-card">
        <img class="cat-img" src="assets/cat-4.png" alt="cat-4" />
        <div class="cat-info">
          <a class="cat-name-link" href="https://google.com">
            <h2 class="cat-name">Senya</h2>
          </a>
          <section>
            <p class="cat-info-category">Age: 2 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section>
            <p class="cat-extra-info">Also very nice cat.</p>
          </section>
        </div>
      </article>
      <article class="cat-card">
        <img class="cat-img" src="assets/cat-5.png" alt="cat-5" />
        <div class="cat-info">
          <a class="cat-name-link" href="https://google.com">
            <h2 class="cat-name">Sam</h2>
          </a>
          <section>
            <p class="cat-info-category">Age: 2 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section>
            <p class="cat-extra-info">Also very nice cat.</p>
          </section>
        </div>
      </article>
      <article class="cat-card">
        <img class="cat-img" src="assets/cat-6.jpg" alt="cat-6" />
        <div class="cat-info">
          <a class="cat-name-link" href="https://google.com">
            <h2 class="cat-name">Sarah</h2>
          </a>
          <section>
            <p class="cat-info-category">Age: 2 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section>
            <p class="cat-extra-info">Also very nice cat.</p>
          </section>
        </div>
      </article>
      <article class="cat-card">
        <img class="cat-img" src="assets/cat-7.png" alt="cat-7" />
        <div class="cat-info">
          <a class="cat-name-link" href="https://google.com">
            <h2 class="cat-name">Dave</h2>
          </a>
          <section>
            <p class="cat-info-category">Age: 2 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section>
            <p class="cat-extra-info">Also very nice cat.</p>
          </section>
        </div>
      </article>
      <article class="cat-card">
        <img class="cat-img" src="assets/cat-8.png" alt="cat-8" />
        <div class="cat-info">
          <a class="cat-name-link" href="https://google.com">
            <h2 class="cat-name">Bogdan</h2>
          </a>
          <section>
            <p class="cat-info-category">Age: 2 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section>
            <p class="cat-extra-info">Also very nice cat.</p>
          </section>
        </div>
      </article>
      <article class="cat-card">
        <img class="cat-img" src="assets/cat-9.png" alt="cat-9" />
        <div class="cat-info">
          <a class="cat-name-link" href="https://google.com">
            <h2 class="cat-name">Mike</h2>
          </a>
          <section>
            <p class="cat-info-category">Age: 2 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section>
            <p class="cat-extra-info">Also very nice cat.</p>
          </section>
        </div>
      </article>
      <article class="cat-card">
        <img class="cat-img" src="assets/cat-10.png" alt="cat-10" />
        <div class="cat-info">
          <a class="cat-name-link" href="https://google.com">
            <h2 class="cat-name">Cat with very long name that doesn't fit the line</h2>
          </a>
          <section>
            <p class="cat-info-category">Age: 2 year(s)</p>
            <p class="cat-info-category">Illnesses: none</p>
          </section>
          <section>
            <p class="cat-extra-info">Also very nice cat.</p>
          </section>
        </div>
      </article>
    </div>
  </body>
</html>
