<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>02-murmarket</title>
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=PT+Sans+Narrow"
    />
  </head>

  <body>
    <header class="header">
      <h2 class="title">Murmarket</h2>
    </header>

    <main class="main">
      <div class="cats-container">
        <input class="cat-selector" id="cat-0-input" type="radio" name="first-cat" checked />
        <label class="cat-label" for="cat-0-input">
          <div class="cat-empty"></div>
        </label>

        <input class="cat-selector" id="cat-1-input" type="radio" name="first-cat" />
        <label class="cat-label" for="cat-0-input">
          <article class="cat-card">
            <img class="cat-img" src="assets/cat-1.jpg" alt="cat-john" />
            <p class="cat-name">John</p>
          </article>
        </label>

        <input class="cat-selector" id="cat-2-input" type="radio" name="first-cat" />
        <label class="cat-label" for="cat-1-input">
          <article class="cat-card">
            <img class="cat-img" src="assets/cat-2.jpg" alt="cat-allie" />
            <p class="cat-name">Allie</p>
          </article>
        </label>

        <input class="cat-selector" id="cat-3-input" type="radio" name="first-cat" />
        <label class="cat-label" for="cat-2-input">
          <article class="cat-card">
            <img class="cat-img" src="assets/cat-3.jpg" alt="cat-taylor" />
            <p class="cat-name">Taylor</p>
          </article>
        </label>

        <input class="cat-selector" id="cat-4-input" type="radio" name="first-cat" />
        <label class="cat-label" for="cat-3-input">
          <article class="cat-card">
            <img class="cat-img" src="assets/cat-4.png" alt="cat-senya" />
            <p class="cat-name">Senya</p>
          </article>
        </label>

        <input class="cat-selector" id="cat-5-input" type="radio" name="first-cat" />
        <label class="cat-label" for="cat-4-input">
          <article class="cat-card">
            <img class="cat-img" src="assets/cat-5.png" alt="cat-sam" />
            <p class="cat-name">Sam</p>
          </article>
        </label>

        <input class="cat-selector" id="cat-6-input" type="radio" name="first-cat" />
        <label class="cat-label" for="cat-5-input">
          <article class="cat-card">
            <img class="cat-img" src="assets/cat-6.jpg" alt="cat-sara" />
            <p class="cat-name">Sara</p>
          </article>
        </label>

        <input class="cat-selector" id="cat-7-input" type="radio" name="first-cat" />
        <label class="cat-label" for="cat-6-input">
          <article class="cat-card">
            <img class="cat-img" src="assets/cat-7.png" alt="cat-dave" />
            <p class="cat-name">Dave</p>
          </article>
        </label>

        <input class="cat-selector" id="cat-8-input" type="radio" name="first-cat" />
        <label class="cat-label" for="cat-7-input">
          <article class="cat-card">
            <img class="cat-img" src="assets/cat-8.png" alt="cat-bogdan" />
            <p class="cat-name">Bogdan</p>
          </article>
        </label>

        <input class="cat-selector" id="cat-9-input" type="radio" name="first-cat" />
        <label class="cat-label" for="cat-8-input">
          <article class="cat-card">
            <img class="cat-img" src="assets/cat-9.png" alt="cat-mike" />
            <p class="cat-name">Mike</p>
          </article>
        </label>

        <label class="cat-label" for="cat-9-input">
          <article class="cat-card">
            <img class="cat-img" src="assets/cat-10.png" alt="cat-long-name" />
            <p class="cat-name">Cat with very long name that breaks on two lines</p>
          </article>
        </label>
      </div>
    </main>

    <footer class="footer">
      <p>Напишите нам:</p>
      <a href="mailto:abc@def.com">abc@def.com</a>
      <br />
      <a href="mailto:email@mail.com">email@mail.com</a>
      <span class="copyright">
        &copy; 2018 &laquo;<a href="https://www.google.com">Бабушкины котята</a>&raquo;
      </span>
    </footer>
  </body>
</html>
